.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.graph {
	flex: 2;
	margin: 1.5vw;
	min-width: 400px;
}
.table {
	flex: 1;
	margin: 1.5vw;
	min-width: 450px;
}

.links {
	display: flex;
	flex-wrap: wrap;
}
